# Created by http://gitignore.io

### Clojure ###
pom.xml
*jar
/lib/
/classes/
/targets/
.lein-deps-sum
# Created by http://gitignore.io

### vim ###
.*.s[a-w][a-z]
*.un~
Session.vim
.netrwhist
*~

/client/app/components
