<div class="row">
  <div class="col-md-12 editor">
    <h1>WorkingOn</h1>
  </div>
</div>
<div class="row">
  <div class="col-md-6 editor">
    <form ng-submit="createEntry()">
      <textarea
       ng-model="newEntry"
       placeholder="I've been working on..."></textarea>
      <br />
      <input type="submit" class="btn" value="Add" />
    </form>
  </div>
</div>
<div class="row">
  <div class="col-md-12 feed">
    <div class="entry" ng-repeat="entry in entries">
      <h4 am-time-ago="entry.created_at"></h4>
      <div class="entry-body">{{entry.text}}</div>
    </div>
  </div>
</div>
