<div class="row">
  <form ng-submit="createEntry()">
    <div class="col-md-6 editor">
      <div id="editor" class="create-entry-editor"></div>
      <div class="create-entry-tags">
        <input type="text" ng-model="tags" placeholder="tags"/>
      </div>
    </div>
    <div class="col-md-6 create-entry-controls">
      <div class="pull-right"> 
        <input type="submit" class="btn btn-large" value="Add" />
      </div>
    </div>
  </form>
</div>
<div class="row">
  <div class="col-md-12 feed">
    <hr />
    <div class="entry" ng-repeat="entry in entries">
      <em am-time-ago="entry.created_at"></em>
      <div class="tags pull-right">
        <a ng-repeat="tag in entry.tags">{{tag}}</a>
      </div>
      <div class="entry-body well" markdown-entry="entry.text"></div>
    </div>
  </div>
</div>
